@import url("reset.css");

body {
  background-image: url("../assets/images/blur-bright-close-up-1194534.jpg");
  /* Photo by Simon Matzinger from Pexels */ 
background-size: cover;
width: 100%;
background-blend-mode: lighten;
}

.container {

}

#main-container {
  font-size: 18px;
  line-height: 34px;
  color: #2e2e2e;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#logo {
  float: left;
  width: 388px;
  height: 90px;
  font-family: 'Meddon', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #2297a7;
}

a:link {
  color:#2297a7;
}

a:visited {
  color: #b48484;
}



.img-fluid {
  border-radius: 15px;
  border: 2px solid rgb(54, 54, 54);
  width: 200px;
  height: 150px; 
}

.auth-image {
  max-width: 100%;
  float: left;
  height: 300px;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 15px;
  border: 2px solid rgb(54, 54, 54);
}

h1,
h2,
h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
  color: #2297a7;
}

h1 {
  padding: 20px;
  font-size: 30px;
  line-height: 49px;
  /* border-bottom: 3px solid #dddddd; */
}



/* footer */

footer {
  font-size: 12px;
  color: snow;
  text-align: center;
  background: #b48484;
  border-top: 8px solid #2297a7;
  height: 50px;
  display: flex;
  flex-direction: column;
}

h3, h2 {
  padding: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #b48484;

}


