@import url("reset.css");

body {
background: url("../assets/images/stardust.png");
background-size: cover;
width: 100%;
}

/* .container {

} */

#main-container {
  
  font-size: 18px;
  line-height: 34px;
  color: #dddcdc;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#logo {
  float: left;
  width: 388px;
  height: 90px;
  font-family: 'Meddon', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #dddcdc;
  text-align: center;
  text-decoration: none;
  text-shadow: none !important;
  background: #29686a;
}

a:link {
  color: #29686a;
  text-shadow: -.5px 0 whitesmoke, 0 .5px whitesmoke, .5px 0 whitesmoke, 0 -.5px whitesmoke;  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

a:visited {
  color: #b48484;
  text-shadow: -.5px 0 whitesmoke, 0 .5px whitesmoke, .5px 0 whitesmoke, 0 -.5px whitesmoke;  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}



.img-fluid {
  border-radius: 15px;
  border: 2px solid rgb(54, 54, 54);
  width: 200px;
  height: 150px; 
}

.auth-image {
  max-width: 100%;
  float: left;
  height: 300px;
  margin-top: 10px;
  margin-right: 25px;
  border-radius: 15px;
  border: 2px solid rgb(54, 54, 54);
}

.img-contact {
  padding: 15px;
  font-size: 18px;
  height: 50px;
  width: 50px;
}

h1,
h2,
h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 700;
  color: #29686a;
  text-shadow: -.5px 0 whitesmoke, 0 .5px whitesmoke, .5px 0 whitesmoke, 0 -.5px whitesmoke;
}

h1 {
  padding: 20px;
  font-size: 30px;
  line-height: 49px;
  /* border-bottom: 3px solid #dddddd; */
}

/* footer */

footer {
  font-size: 14px;
  color: snow;
  text-align: center;
  background: #b48484;
  border-top: 8px solid #29686a;;
  height: 50px;
  display: flex;
  flex-direction: column;
}

h3, h2 {
  padding: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #b48484;

}


